.label {
	font-style: 'Gilroy', Arial, sans-serif;
}

.inputNumber,
.inputPercent {
	font-family: 'Nekst', Arial, sans-serif;
	font-weight: bold;
	background-color: #e3e3e3;
}

.fee {
	pointer-events: none;
}

.inputPercent {
	position: absolute;
	background-color: grey;
	text-align: center;
}

@media (max-width: 1439px),
(min-width: 1440px) {

	.label {
		font-size: 1.6rem;
		line-height: 2rem;
	}

	.inputNumber,
	.inputPercent {
		border-radius: 16px;
		border: none;
		font-size: 3rem;
		line-height: 3.6rem;
	}

	.inputNumber {
		height: 68px;
		padding-left: 30px;
	}

	.inputPercent {
		right: 5%;
		top: 50%;
		width: 70px;
		height: 54px;
		font-size: 2rem;
	}
}

@media (min-width: 1440px) {
	.inputNumber {
		width: 427px;
	}
}

@media (max-width: 1439px) {
	.inputNumber {
		width: 320px;
	}
}

@media (max-width: 1119px) {
	.label {
		align-self: flex-start;
	}

	.inputNumber {
		width: 696px;
		padding-left: 25px;
	}

	.inputPercent {
		right: 5%;
		top: 50%;
	}
}

@media (max-width: 767px) {
	.label {
		margin-left: 10px;
		font-size: 1.4rem;
		font-style: 'Gilroy', Arial, sans-serif;
		line-height: 1.6rem;
	}

	.inputNumber,
	.inputPercent {
		font-size: 2.2rem;
		line-height: 2rem;
	}

	.inputNumber {
		width: 280px;
		height: 60px;
		padding-left: 20px;
	}

	.inputPercent {
		right: 10%;
		top: 35%;
		width: 67px;
		height: 48px;
	}
}
