.divRow,
.inputNumberWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divRow {
  width: 100%;
}

.inputRange {
}

@media (max-width: 767px) {
  .divRow {
    height: 10rem;
    background-color: #f3f3f4;
  }

  .inputNumberWrap {
    position: relative;
    width: 300px;
    height: 85%;
    justify-content: space-between;

    i {
      position: absolute;
      right: 7%;
      top: 45%;
      font-family: 'Nekst', Arial, sans-serif;
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 2rem;
    }
  }

  .label {
    margin-left: 10px;
    align-self: flex-start;
    font-size: 1.4rem;
    font-style: 'Gilroy', Arial, sans-serif;
    line-height: 1.6rem;
  }

  .inputNumber,
  .inputPercent {
    border-radius: 16px;
    border: none;
    background-color: #e3e3e3;
    font-family: 'Nekst', Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2rem;
  }

  .inputNumber {
    width: 280px;
    height: 60px;
  }

  .fee {
    pointer-events: none;
  }

  .inputPercent {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 67px;
    height: 48px;
    background-color: grey;
    text-align: center;
  }

  .inputPercent::after {
    content: '%';
  }

  .inputRange {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    width: 250px;
    height: 2px;
    left: 22px;
    top: 80px;
    background-color: #ff9514;
    outline: 0;
  }

  .inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff9514;
    cursor: pointer;
  }

  .inputRange::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff9514;
    cursor: pointer;
  }
}
