.container {
  height: 100%;
}

.headerWrap {
  width: 100%;

  h1 {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    text-align: left;
  }
}

.inputContainer {
  width: 100%;
}

.numbersAndBtnContainer {
  width: 100%;
}

@media (max-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .headerWrap {
    flex-grow: 1;
  }

  .inputContainer {
    height: 200px;
    background-color: red;
  }

  .numbersAndBtnContainer {
    height: 200px;
    background-color: antiquewhite;
  }
}
