.headerWrap {
  width: 100%;
}

.inputContainer {
  width: 100%;
}

.numbersAndBtnContainer {
  width: 100%;
  display: flex;
}

@media (max-width: 1439px), (min-width: 1440px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }

  .headerWrap {
    width: 753px;
  }

  .headerWrap p {
    font-size: 5.4rem;
    font-weight: bold;
    line-height: 0.9;
    font-family: 'Nekst', Arial, sans-serif;
  }

  .inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .numbersAndBtnContainer {
    width: 860px;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    gap: 30px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1350px;
  }
}

@media (max-width: 1439px) {
  .container {
    width: 1100px;
  }

  .numbersAndBtnContainer {
    width: 690px;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    gap: 30px;
  }
}

@media (max-width: 1119px) {
  .container,
  .inputContainer,
  .numbersAndBtnContainer {
    width: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .headerWrap {
    width: 100%;
  }

  .headerWrap p {
    font-size: 5.4rem;
    font-weight: bold;
    line-height: 0.9;
    font-family: 'Nekst', Arial, sans-serif;
    text-align: left;
    justify-content: center;
  }

  .numbersAndBtnContainer {
    width: 696px;
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
}

@media (max-width: 767px) {
  .container,
  .inputContainer,
  .numbersAndBtnContainer {
    width: 280px;
  }

  .headerWrap {
    p {
      width: 280px;
      font-size: 3.4rem;
      text-align: left;
      line-height: 1;
    }
  }

  .numbersAndBtnContainer {
    height: 150px;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
}
