.container {
  height: 100vh;
}

@media (max-width: 1439px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 1119px) {
  .container,
  .headerWrap,
  .inputContainer,
  .numbersAndBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 320px) {
  .headerWrap {
    width: 100%;

    p {
      width: 280px;
      font-size: 3.4rem;
      text-align: left;
      line-height: 1;
    }
  }

  .inputContainer {
    height: 300px;
  }

  .test {
    width: 100%;
    height: 100px;
    background-color: grey;
  }

  .numbersAndBtnContainer {
    height: 200px;
  }

  .test1 {
    width: 100%;
    height: 100%;
    background-color: bisque;
  }
}
