@media (max-width: 1439px), (min-width: 1440px) {
  .resultContainer {
    position: relative;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    i {
      position: absolute;
      font-family: 'Nekst', Arial, sans-serif;
      font-size: 5.4rem;
      font-weight: bold;
      line-height: 0.9;
    }
  }

  .label {
    align-self: flex-start;
    font-size: 1.6rem;
    font-family: 'Gilroy', Arial, sans-serif;
    line-height: 1.6rem;
  }

  .input {
    width: 100%;
    background-color: #f3f3f4;
    border: none;
    pointer-events: none;
    font-family: 'Nekst', Arial, sans-serif;
    font-size: 5.4rem;
    font-weight: bold;
  }

  .ruble {
    vertical-align: text-bottom;
  }
}

@media (min-width: 1440px) {
  i {
    top: 35%;
    right: 120px;
  }
}

@media (max-width: 1439px) {
  i {
    top: 35%;
    right: 35px;
  }
}

@media (max-width: 1119px) {
  .resultContainer {
    width: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .resultContainer {
    width: 332px;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .resultContainer {
    width: 280px;
    height: 75px;

    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0;

    i {
      top: 50%;
      left: 38%;
      font-size: 2rem;
      font-weight: bold;
      line-height: 0.9;
    }
  }

  .label {
    font-size: 1.4rem;
    font-style: 'Gilroy', Arial, sans-serif;
    line-height: 1.6rem;
  }

  .input {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2rem;
  }

  .ruble {
    display: inline-block;
    padding-bottom: 4px;
  }
}
