.btnContainer {
  width: 380px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  height: 68px;
  border: none;
  border-radius: 40px;
  background-color: #ff9514;
  color: #ffffff;
  font-family: 'Nekst', Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: #111111;
}

.button:disabled {
  background-color: #ff9514;
  opacity: 0.4;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1439px), (min-width: 1440px) {
  .btnContainer {
    justify-content: flex-start;
    align-self: flex-start;
    padding-right: 40px;
  }

  .button {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .btnContainer {
    width: 450px;
  }
}

@media (max-width: 1119px) {
  .btnContainer {
    width: 696px;
    justify-content: flex-start;
  }

  .button {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .btnContainer {
    width: 280px;
    justify-content: center;
    padding: 0;
  }

  .button {
    width: 280px;
    height: 60px;
  }
}
