.btnContainer {
  width: 380px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  height: 68px;
  border: none;
  border-radius: 40px;
  background-color: #ff9514;
  color: #ffffff;
  font-family: 'Nekst', Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: #111111;
}

.button:disabled {
  background-color: #ff9514;
  opacity: 0.4;
}

@media (max-width: 1439px) {
  .btnContainer {
    align-self: flex-start;
    padding-right: 40px;
  }
  .button {
    width: 320px;
  }
}

@media (max-width: 1119px) {
  .btnContainer {
    width: 696px;
    justify-content: flex-start;
  }

  .button {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .btnContainer {
    width: 280px;
    justify-content: center;
  }

  .button {
    width: 280px;
    height: 60px;
  }
}
