@import url('./fonts/Nekst-Regular/style.css');
@import url('./fonts/Gilroy-Regular/style.css');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f3f4;
  font-family: 'Nekst', Arial, sans-serif;
  font-size: 1.4rem;
  color: #111;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

#app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
